<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="autoMappingBehavior" value="FULL" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<setting name="cacheEnabled" value="true" />
		<setting name="mapUnderscoreToCamelCase" value="true" />

		<!--显式的指定每个我们需要更改的配置的值，即使他是默认的。防止版本更新带来的问题 -->
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>

	<typeAliases>
		<!--这里给实体类取别名，方便在mapper配置文件中使用--> 
		<package name="cn.appsys.pojo" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>

	<databaseIdProvider type="DB_VENDOR">
		<!-- 为不同的数据库厂商起别名 -->
		<property name="MySQL" value="mysql" />
		<property name="Oracle" value="oracle" />
		<property name="SQL Server" value="sqlserver" />
	</databaseIdProvider>

</configuration>